.leaflet-popup-content {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
}
.leaflet-popup-content-wrapper {
  border: none !important;
}
.leaflet-popup-tip {
  display: none !important;
}