/*popup modal style hidden*/
.leaflet-popup-content {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;

}
.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  border: none !important;
}
.leaflet-popup-tip {
  background-color: transparent !important;
  display: none !important;
}

/*night mode on map*/
.leaflet-tile-pane .nighttime-satellite {
  filter: brightness(0.45) contrast(1.05) saturate(0.4) sepia(0.1) hue-rotate(-20deg);
}